### Statistical Analysis Part

In [ ]:
df = read.csv('final.csv')

In [2]:
head(df,3)

  card_count unique_num card_name Date     avg_price avg_views
1 6          96/95      Absol     20190827 142.9667  70129326
2 4          2/97       Altaria   20190827  32.0700  70129326
3 2          2/110      Articuno  20190827  30.3250  70129326

In [3]:
str(df)

'data.frame':	245 obs. of  6 variables:
 $ card_count: int  6 4 2 1 1 1 1 2 5 3 ...
 $ unique_num: chr  "96/95" "2/97" "2/110" "141/149" ...
 $ card_name : chr  "Absol" "Altaria" "Articuno" "CelebiEX" ...
 $ Date      : int  20190827 20190827 20190827 20190827 20190827 20190827 20190827 20190827 20190827 20190827 ...
 $ avg_price : num  143 32.1 30.3 30 52.5 ...
 $ avg_views : int  70129326 70129326 70129326 70129326 70129326 70129326 70129326 70129326 70129326 70129326 ...

#### Building models and running partial F-tests

In [5]:
full <- lm(avg_price ~ avg_views + Date, data = df)
summary(full)

Call:
lm(formula = avg_price ~ avg_views + Date, data = df)

Residuals:
    Min      1Q  Median      3Q     Max
-168.99 -124.11  -55.58  -14.33 2764.66

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -2.707e+04  2.665e+05  -0.102    0.919
avg_views    1.702e-06  2.265e-06   0.752    0.453
Date         1.345e-03  1.319e-02   0.102    0.919

Residual standard error: 285.7 on 242 degrees of freedom
Multiple R-squared:  0.01973,	Adjusted R-squared:  0.01163
F-statistic: 2.435 on 2 and 242 DF,  p-value: 0.0897

In [ ]:
# from the low p-value, the model is significant at 90% CI

In [6]:
pricevsviews <-lm(avg_price ~ avg_views, data=df)
summary(pricevsviews)

Call:
lm(formula = avg_price ~ avg_views, data = df)

Residuals:
    Min      1Q  Median      3Q     Max
-166.51 -124.09  -55.10  -14.21 2764.78

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 9.180e+01  3.095e+01   2.966  0.00332 **
avg_views   1.482e-06  6.707e-07   2.209  0.02810 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 285.1 on 243 degrees of freedom
Multiple R-squared:  0.01969,	Adjusted R-squared:  0.01565
F-statistic:  4.88 on 1 and 243 DF,  p-value: 0.0281

In [7]:
pricevsdate <-lm(avg_price ~ Date, data=df)
summary(pricevsdate)

Call:
lm(formula = avg_price ~ Date, data = df)

Residuals:
    Min      1Q  Median      3Q     Max
-150.22 -123.49  -54.47  -12.20 2768.89

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  1.642e+05  7.899e+04   2.079   0.0387 *
Date        -8.124e-03  3.912e-03  -2.077   0.0389 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 285.4 on 243 degrees of freedom
Multiple R-squared:  0.01744,	Adjusted R-squared:  0.0134
F-statistic: 4.314 on 1 and 243 DF,  p-value: 0.03886

In [8]:
anova(full, pricevsviews) # test significance of date

  Res.Df RSS      Df Sum of Sq F          Pr(>F)
1 242    19746681 NA        NA         NA        NA
2 243    19747529 -1 -847.6053 0.01038759 0.9189049

Conclusion: date is not significant on its own

In [9]:
anova(full, pricevsdate) # test significance of youtube views

  Res.Df RSS      Df Sum of Sq F         Pr(>F)
1 242    19746681 NA        NA        NA        NA
2 243    19792778 -1 -46097.02 0.5649292 0.4530113

Conclusion: youtube views are not significant on their own

In [ ]:
Conclusion: date is not significant on its own

In [15]:
cor(df$avg_price, df$avg_views)

[1] 0.1403149

In [16]:
cor(df$avg_price, df$Date)

[1] -0.1320681